[submodule "duo-buildroot-sdk"]
	path = third_party/duo-buildroot-sdk
	url = https://github.com/milkv-duo/duo-buildroot-sdk
[submodule "third_party/fsbl"]
	path = third_party/fsbl
	url = https://github.com/sophgo/fsbl.git
	branch = cv18xx-v4.2.x
[submodule "third_party/u-boot"]
	path = third_party/u-boot
	url = https://github.com/sophgo/u-boot-2021.10.git
	branch = cv18xx-v4.2.x
[submodule "third_party/opensbi"]
	path = third_party/opensbi
	url = https://github.com/sophgo/opensbi.git
	branch = cv18xx-v4.2.x
[submodule "third_party/linux"]
	path = third_party/linux
	url = https://github.com/sophgo/linux_5.10.git
	branch = cv18xx-v4.2.x
