CT_CONFIG_VERSION="4"
# CT_SAVE_TARBALLS is not set
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_RISCV=y
CT_ARCH_USE_MMU=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
CT_LINUX_V_5_10=y
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/XUANTIE-RV/binutils-gdb.git"
CT_BINUTILS_DEVEL_REVISION="a326f947008e6a1337e6f8246775b8523230e6b9"
CT_BINUTILS_V_2_35=y
CT_GLIBC_SRC_DEVEL=y
CT_GLIBC_DEVEL_URL="https://github.com/Tosainu/xuantie-glibc.git"
CT_GLIBC_DEVEL_REVISION="8c011447febeb709ce024fa035664e4506917b11"
CT_GLIBC_V_2_33=y
CT_GLIBC_KERNEL_VERSION_CHOSEN=y
CT_GLIBC_MIN_KERNEL_VERSION="5.4.0"
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_URL="https://github.com/XUANTIE-RV/gcc.git"
CT_GCC_DEVEL_REVISION="99f8dc61cdf2220eb3fe6f853193dd3643096d06"
CT_GCC_V_10=y
CT_CC_LANG_CXX=y
